@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

:root{
  --basic-gray: #aaaaaa;
  --dark-gray: #232428;
  --light-background-gray: #3a3f44;
  --basic-blue: #4799EB;
  --dark-blue: #3f88d1;
  --footer: #1c1e22;

  --link-hover: #d9d9d9;
  --main-background: #272b30;
  --dropdown-color: #3a3f44;
  --dropdown-divider: #33383c;
  --dropdown-darker-text: #6d757a;

  --main-divider: #3b3c3c;
  --card-background: #32383e;

  --main-radius: 0.3rem;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--main-background);
}

*{
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

.mainContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContent{
  flex: 1 1 auto; 
  background-color: var(--main-background);
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.App{
  padding: 1.5rem 0 1.5rem 0;
  width: 1080px;
}

.divider{
  height: 1px;
  background-color: var(--main-divider);
  margin: 1.5rem 0 1.5rem 0;
}

.menu{
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  display: flex;
}

@media only screen and (max-width: 1080px){
  *{
    font-size: 15px;
  }
  .App{
    width: 100%;
    padding: 0 2rem 0 2rem;
  }
  .mainContainer, .mainContent, .divider, .flex-grow{
    width: 100%;
  }
  .mainContent{
    padding: 2rem 0 2rem 0;
  }
}

@media only screen and (max-width: 768px){
  .menu{
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    display: none;
  }
  .rightSideHeader{
    display: none;
  }
  .show{
    display: flex;
  }
}